  <%= form_for(task) do |t| %>
    <% if task.errors.any? %>
    <div class="alert alert-warning">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="form-group">
    <%= t.label :status, 'ステータス' %><br>
    <%= t.text_field :status, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= t.label :content, 'タスク' %><br>
    <%= t.text_field :content, class:"form-control" %>
  </div>  
    
    <%= t.submit '投稿' ,class: "btn btn-primary" %>
  <% end %>